{
  "openapi": "3.0.3",
  "info": {
    "title": "ITAMP 平台接口文档",
    "version": "1.0.0",
    "description": "由 HAR 抓包自动生成，源文件：trace.har"
  },
  "servers": [
    {
      "url": "http://itamp.bocsys.cn"
    }
  ],
  "tags": [
    {
      "name": "common"
    },
    {
      "name": "operation"
    },
    {
      "name": "performanceCapacity"
    },
    {
      "name": "publish"
    }
  ],
  "paths": {
    "/itamp-ems/alaysis/approval/common/getUserInfo": {
      "post": {
        "tags": [
          "common"
        ],
        "summary": "获取用户信息",
        "description": "抓包捕获 2 次，状态码：200",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8404725",
            "description": "用户ID"
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "userNo": {
                          "nullable": true
                        },
                        "userId": {
                          "type": "string",
                          "example": "8404725"
                        },
                        "userName": {
                          "type": "string",
                          "example": "魏甜甜"
                        },
                        "orgId": {
                          "type": "string",
                          "example": "1643A"
                        },
                        "orgName": {
                          "type": "string",
                          "example": "中国银行软件中心（西安）"
                        },
                        "teamId": {
                          "type": "string",
                          "example": "1465A"
                        },
                        "teamName": {
                          "type": "string",
                          "example": "中国银行软件中心（西安）开发一部"
                        },
                        "email": {
                          "nullable": true
                        },
                        "phoneNumber": {
                          "nullable": true
                        },
                        "userStatus": {
                          "nullable": true
                        },
                        "userType": {
                          "type": "string",
                          "example": "0"
                        },
                        "userLeave": {
                          "type": "string",
                          "example": "经理"
                        },
                        "teamManagerId": {
                          "nullable": true
                        },
                        "teamManagerName": {
                          "nullable": true
                        },
                        "teamManagerDeptId": {
                          "nullable": true
                        },
                        "teamManagerDeptName": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "userNo",
                        "userId",
                        "userName",
                        "orgId",
                        "orgName",
                        "teamId",
                        "teamName",
                        "email",
                        "phoneNumber",
                        "userStatus",
                        "userType",
                        "userLeave",
                        "teamManagerId",
                        "teamManagerName",
                        "teamManagerDeptId",
                        "teamManagerDeptName"
                      ],
                      "example": {
                        "userNo": null,
                        "userId": "8404725",
                        "userName": "魏甜甜",
                        "orgId": "1643A",
                        "orgName": "中国银行软件中心（西安）",
                        "teamId": "1465A",
                        "teamName": "中国银行软件中心（西安）开发一部",
                        "email": null,
                        "phoneNumber": null,
                        "userStatus": null,
                        "userType": "0",
                        "userLeave": "经理",
                        "teamManagerId": null,
                        "teamManagerName": null,
                        "teamManagerDeptId": null,
                        "teamManagerDeptName": null
                      }
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "example": {
                    "msg": "操作成功",
                    "code": 200,
                    "data": {
                      "userNo": null,
                      "userId": "8404725",
                      "userName": "魏甜甜",
                      "orgId": "1643A",
                      "orgName": "中国银行软件中心（西安）",
                      "teamId": "1465A",
                      "teamName": "中国银行软件中心（西安）开发一部",
                      "email": null,
                      "phoneNumber": null,
                      "userStatus": null,
                      "userType": "0",
                      "userLeave": "经理",
                      "teamManagerId": null,
                      "teamManagerName": null,
                      "teamManagerDeptId": null,
                      "teamManagerDeptName": null
                    }
                  }
                },
                "example": {
                  "msg": "操作成功",
                  "code": 200,
                  "data": {
                    "userNo": null,
                    "userId": "8404725",
                    "userName": "魏甜甜",
                    "orgId": "1643A",
                    "orgName": "中国银行软件中心（西安）",
                    "teamId": "1465A",
                    "teamName": "中国银行软件中心（西安）开发一部",
                    "email": null,
                    "phoneNumber": null,
                    "userStatus": null,
                    "userType": "0",
                    "userLeave": "经理",
                    "teamManagerId": null,
                    "teamManagerName": null,
                    "teamManagerDeptId": null,
                    "teamManagerDeptName": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itamp-tool/operation/getOperationRecordList": {
      "post": {
        "tags": [
          "operation"
        ],
        "summary": "获取操作记录列表",
        "description": "抓包捕获 1 次，状态码：200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationType": {
                    "type": "string",
                    "example": ""
                  },
                  "pageNum": {
                    "type": "integer",
                    "example": 1
                  },
                  "pageSize": {
                    "type": "integer",
                    "example": 10
                  },
                  "publishId": {
                    "type": "string",
                    "example": "eac6bf0b-0cba-4beb-b033-3406a40fb09f"
                  }
                },
                "required": [
                  "operationType",
                  "pageNum",
                  "pageSize",
                  "publishId"
                ],
                "example": {
                  "operationType": "",
                  "pageNum": 1,
                  "pageSize": 10,
                  "publishId": "eac6bf0b-0cba-4beb-b033-3406a40fb09f"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 0
                        },
                        "rows": {
                          "type": "array",
                          "example": []
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "msg": {
                          "type": "string",
                          "example": "查询成功"
                        },
                        "pageNum": {
                          "type": "integer",
                          "example": 1
                        },
                        "pageSize": {
                          "type": "integer",
                          "example": 10
                        },
                        "pageTotals": {
                          "type": "integer",
                          "example": 0
                        }
                      },
                      "required": [
                        "total",
                        "rows",
                        "code",
                        "msg",
                        "pageNum",
                        "pageSize",
                        "pageTotals"
                      ],
                      "example": {
                        "total": 0,
                        "rows": [],
                        "code": 200,
                        "msg": "查询成功",
                        "pageNum": 1,
                        "pageSize": 10,
                        "pageTotals": 0
                      }
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "example": {
                    "msg": "操作成功",
                    "code": 200,
                    "data": {
                      "total": 0,
                      "rows": [],
                      "code": 200,
                      "msg": "查询成功",
                      "pageNum": 1,
                      "pageSize": 10,
                      "pageTotals": 0
                    }
                  }
                },
                "example": {
                  "msg": "操作成功",
                  "code": 200,
                  "data": {
                    "total": 0,
                    "rows": [],
                    "code": 200,
                    "msg": "查询成功",
                    "pageNum": 1,
                    "pageSize": 10,
                    "pageTotals": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itamp-tool/operation/getSubOperationRecordList": {
      "post": {
        "tags": [
          "operation"
        ],
        "summary": "获取子操作记录列表",
        "description": "抓包捕获 1 次，状态码：200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationType": {
                    "type": "string",
                    "example": ""
                  },
                  "pageNum": {
                    "type": "integer",
                    "example": 1
                  },
                  "pageSize": {
                    "type": "integer",
                    "example": 10
                  },
                  "subscriptionId": {
                    "type": "string",
                    "example": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                  }
                },
                "required": [
                  "operationType",
                  "pageNum",
                  "pageSize",
                  "subscriptionId"
                ],
                "example": {
                  "operationType": "",
                  "pageNum": 1,
                  "pageSize": 10,
                  "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 4
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "e7272ea7-3ca8-4375-b02a-98d9de42fecf"
                              },
                              "subscribeName": {
                                "type": "string",
                                "example": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN"
                              },
                              "publishId": {
                                "type": "string",
                                "example": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f"
                              },
                              "subscriptionId": {
                                "type": "string",
                                "example": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                              },
                              "prodSysServeNo": {
                                "type": "string",
                                "example": "E00406TO1196"
                              },
                              "operationer": {
                                "type": "string",
                                "example": "5607699"
                              },
                              "operationerName": {
                                "type": "string",
                                "example": "雷维朝"
                              },
                              "operationType": {
                                "type": "string",
                                "example": "17"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-08-28 18:48:53"
                              },
                              "remark": {
                                "nullable": true
                              }
                            },
                            "required": [
                              "id",
                              "subscribeName",
                              "publishId",
                              "subscriptionId",
                              "prodSysServeNo",
                              "operationer",
                              "operationerName",
                              "operationType",
                              "createTime",
                              "remark"
                            ],
                            "example": {
                              "id": "e7272ea7-3ca8-4375-b02a-98d9de42fecf",
                              "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                              "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                              "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                              "prodSysServeNo": "E00406TO1196",
                              "operationer": "5607699",
                              "operationerName": "雷维朝",
                              "operationType": "17",
                              "createTime": "2026-08-28 18:48:53",
                              "remark": null
                            }
                          },
                          "example": [
                            {
                              "id": "e7272ea7-3ca8-4375-b02a-98d9de42fecf",
                              "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                              "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                              "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                              "prodSysServeNo": "E00406TO1196",
                              "operationer": "5607699",
                              "operationerName": "雷维朝",
                              "operationType": "17",
                              "createTime": "2026-08-28 18:48:53",
                              "remark": null
                            },
                            {
                              "id": "35fca5ae-02f1-4e58-b0b3-64b64d794e9f",
                              "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                              "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                              "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                              "prodSysServeNo": "E00406TO1196",
                              "operationer": "6464402",
                              "operationerName": "吴树海",
                              "operationType": "50",
                              "createTime": "2026-08-28 18:45:15",
                              "remark": null
                            },
                            "…（共 4 项）"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "msg": {
                          "type": "string",
                          "example": "查询成功"
                        },
                        "pageNum": {
                          "type": "integer",
                          "example": 1
                        },
                        "pageSize": {
                          "type": "integer",
                          "example": 10
                        },
                        "pageTotals": {
                          "type": "integer",
                          "example": 1
                        }
                      },
                      "required": [
                        "total",
                        "rows",
                        "code",
                        "msg",
                        "pageNum",
                        "pageSize",
                        "pageTotals"
                      ],
                      "example": {
                        "total": 4,
                        "rows": [
                          {
                            "id": "e7272ea7-3ca8-4375-b02a-98d9de42fecf",
                            "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                            "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                            "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                            "prodSysServeNo": "E00406TO1196",
                            "operationer": "5607699",
                            "operationerName": "雷维朝",
                            "operationType": "17",
                            "createTime": "2026-08-28 18:48:53",
                            "remark": null
                          },
                          {
                            "id": "35fca5ae-02f1-4e58-b0b3-64b64d794e9f",
                            "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                            "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                            "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                            "prodSysServeNo": "E00406TO1196",
                            "operationer": "6464402",
                            "operationerName": "吴树海",
                            "operationType": "50",
                            "createTime": "2026-08-28 18:45:15",
                            "remark": null
                          },
                          "…（共 4 项）"
                        ],
                        "code": 200,
                        "msg": "查询成功",
                        "pageNum": 1,
                        "pageSize": 10,
                        "pageTotals": 1
                      }
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "example": {
                    "msg": "操作成功",
                    "code": 200,
                    "data": {
                      "total": 4,
                      "rows": [
                        {
                          "id": "e7272ea7-3ca8-4375-b02a-98d9de42fecf",
                          "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                          "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                          "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                          "prodSysServeNo": "E00406TO1196",
                          "operationer": "5607699",
                          "operationerName": "雷维朝",
                          "operationType": "17",
                          "createTime": "2026-08-28 18:48:53",
                          "remark": null
                        },
                        {
                          "id": "35fca5ae-02f1-4e58-b0b3-64b64d794e9f",
                          "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                          "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                          "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                          "prodSysServeNo": "E00406TO1196",
                          "operationer": "6464402",
                          "operationerName": "吴树海",
                          "operationType": "50",
                          "createTime": "2026-08-28 18:45:15",
                          "remark": null
                        },
                        "…（共 4 项）"
                      ],
                      "code": 200,
                      "msg": "查询成功",
                      "pageNum": 1,
                      "pageSize": 10,
                      "pageTotals": 1
                    }
                  }
                },
                "example": {
                  "msg": "操作成功",
                  "code": 200,
                  "data": {
                    "total": 4,
                    "rows": [
                      {
                        "id": "e7272ea7-3ca8-4375-b02a-98d9de42fecf",
                        "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                        "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                        "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                        "prodSysServeNo": "E00406TO1196",
                        "operationer": "5607699",
                        "operationerName": "雷维朝",
                        "operationType": "17",
                        "createTime": "2026-08-28 18:48:53",
                        "remark": null
                      },
                      {
                        "id": "35fca5ae-02f1-4e58-b0b3-64b64d794e9f",
                        "subscribeName": "E00406-网上银行服务前端-海外个人手机银行客户端-BOCNETC-O-MAPSN",
                        "publishId": "8b6a7d05-31b8-4e5c-a8ff-08a9957a467f",
                        "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                        "prodSysServeNo": "E00406TO1196",
                        "operationer": "6464402",
                        "operationerName": "吴树海",
                        "operationType": "50",
                        "createTime": "2026-08-28 18:45:15",
                        "remark": null
                      },
                      "…（共 4 项）"
                    ],
                    "code": 200,
                    "msg": "查询成功",
                    "pageNum": 1,
                    "pageSize": 10,
                    "pageTotals": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itamp-tool/performanceCapacity/getData": {
      "post": {
        "tags": [
          "performanceCapacity"
        ],
        "summary": "获取数据",
        "description": "抓包捕获 1 次，状态码：200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscriptionId": {
                    "type": "string",
                    "example": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                  }
                },
                "required": [
                  "subscriptionId"
                ],
                "example": {
                  "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 61959
                        },
                        "subscriptionId": {
                          "type": "string",
                          "example": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                        },
                        "prodBatch": {
                          "type": "string",
                          "example": "26年10月独立"
                        },
                        "serverNo": {
                          "type": "string",
                          "example": "M-202607-10725"
                        },
                        "reviewStatus": {
                          "type": "string",
                          "example": "05"
                        },
                        "prodTPSNormal": {
                          "type": "string",
                          "example": ""
                        },
                        "volumeNormal": {
                          "type": "string",
                          "example": ""
                        },
                        "latencyNormal": {
                          "type": "string",
                          "example": ""
                        },
                        "prodTPSPeak": {
                          "type": "string",
                          "example": "10"
                        },
                        "volumePeak": {
                          "type": "string",
                          "example": ""
                        },
                        "latencyPeak": {
                          "type": "string",
                          "example": ""
                        },
                        "createBy": {
                          "type": "string",
                          "example": "5607699"
                        },
                        "createTime": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-28 18:44:57"
                        },
                        "updateBy": {
                          "nullable": true
                        },
                        "updateTime": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-28 18:44:57"
                        },
                        "judgeInfoList": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "subscriptionId",
                        "prodBatch",
                        "serverNo",
                        "reviewStatus",
                        "prodTPSNormal",
                        "volumeNormal",
                        "latencyNormal",
                        "prodTPSPeak",
                        "volumePeak",
                        "latencyPeak",
                        "createBy",
                        "createTime",
                        "updateBy",
                        "updateTime",
                        "judgeInfoList"
                      ],
                      "example": {
                        "id": 61959,
                        "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                        "prodBatch": "26年10月独立",
                        "serverNo": "M-202607-10725",
                        "reviewStatus": "05",
                        "prodTPSNormal": "",
                        "volumeNormal": "",
                        "latencyNormal": "",
                        "prodTPSPeak": "10",
                        "volumePeak": "",
                        "latencyPeak": "",
                        "createBy": "5607699",
                        "createTime": "2026-08-28 18:44:57",
                        "updateBy": null,
                        "updateTime": "2026-08-28 18:44:57",
                        "judgeInfoList": null
                      }
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "example": {
                    "msg": "操作成功",
                    "code": 200,
                    "data": {
                      "id": 61959,
                      "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                      "prodBatch": "26年10月独立",
                      "serverNo": "M-202607-10725",
                      "reviewStatus": "05",
                      "prodTPSNormal": "",
                      "volumeNormal": "",
                      "latencyNormal": "",
                      "prodTPSPeak": "10",
                      "volumePeak": "",
                      "latencyPeak": "",
                      "createBy": "5607699",
                      "createTime": "2026-08-28 18:44:57",
                      "updateBy": null,
                      "updateTime": "2026-08-28 18:44:57",
                      "judgeInfoList": null
                    }
                  }
                },
                "example": {
                  "msg": "操作成功",
                  "code": 200,
                  "data": {
                    "id": 61959,
                    "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98",
                    "prodBatch": "26年10月独立",
                    "serverNo": "M-202607-10725",
                    "reviewStatus": "05",
                    "prodTPSNormal": "",
                    "volumeNormal": "",
                    "latencyNormal": "",
                    "prodTPSPeak": "10",
                    "volumePeak": "",
                    "latencyPeak": "",
                    "createBy": "5607699",
                    "createTime": "2026-08-28 18:44:57",
                    "updateBy": null,
                    "updateTime": "2026-08-28 18:44:57",
                    "judgeInfoList": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itamp-tool/performanceCapacity/getPerformanceOperationData": {
      "post": {
        "tags": [
          "performanceCapacity"
        ],
        "summary": "获取性能操作数据",
        "description": "抓包捕获 1 次，状态码：200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pageNum": {
                    "type": "integer",
                    "example": 1
                  },
                  "pageSize": {
                    "type": "integer",
                    "example": 10
                  },
                  "subscriptionId": {
                    "type": "string",
                    "example": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                  }
                },
                "required": [
                  "pageNum",
                  "pageSize",
                  "subscriptionId"
                ],
                "example": {
                  "pageNum": 1,
                  "pageSize": 10,
                  "subscriptionId": "7e461c12-9aa5-4f4e-980d-901c2dc2aa98"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "example": 0
                    },
                    "rows": {
                      "type": "array",
                      "example": []
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "msg": {
                      "type": "string",
                      "example": "查询成功"
                    },
                    "pageNum": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 10
                    },
                    "pageTotals": {
                      "type": "integer",
                      "example": 0
                    }
                  },
                  "required": [
                    "total",
                    "rows",
                    "code",
                    "msg",
                    "pageNum",
                    "pageSize",
                    "pageTotals"
                  ],
                  "example": {
                    "total": 0,
                    "rows": [],
                    "code": 200,
                    "msg": "查询成功",
                    "pageNum": 1,
                    "pageSize": 10,
                    "pageTotals": 0
                  }
                },
                "example": {
                  "total": 0,
                  "rows": [],
                  "code": 200,
                  "msg": "查询成功",
                  "pageNum": 1,
                  "pageSize": 10,
                  "pageTotals": 0
                }
              }
            }
          }
        }
      }
    },
    "/itamp-tool/publish/getHistory": {
      "post": {
        "tags": [
          "publish"
        ],
        "summary": "ITAMP 平台发布管理相关接口，具体功能见下方详细说明。",
        "description": "ITAMP 平台发布管理相关接口，具体功能见下方详细说明。\n抓包捕获 2 次，状态码：200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dataId": {
                    "type": "string",
                    "example": "1b3fda57-0848-406b-8459-0560e6704b57"
                  },
                  "pageNum": {
                    "type": "integer",
                    "example": 1
                  },
                  "pageSize": {
                    "type": "integer",
                    "example": 10
                  },
                  "delFlg": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "required": [
                  "dataId",
                  "pageNum",
                  "pageSize",
                  "delFlg"
                ],
                "example": {
                  "dataId": "1b3fda57-0848-406b-8459-0560e6704b57",
                  "pageNum": 1,
                  "pageSize": 10,
                  "delFlg": "0"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 2
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "searchValue": {
                                "nullable": true
                              },
                              "createBy": {
                                "type": "string",
                                "example": "1520723"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-08-31 15:53:51"
                              },
                              "updateBy": {
                                "type": "string",
                                "example": "1520723"
                              },
                              "updateTime": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-08-31 17:25:09"
                              },
                              "remark": {
                                "type": "string",
                                "example": ""
                              },
                              "params": {
                                "type": "object",
                                "example": {}
                              },
                              "id": {
                                "type": "string",
                                "example": "eac6bf0b-0cba-4beb-b033-3406a40fb09f"
                              },
                              "idList": {
                                "nullable": true
                              },
                              "publishId": {
                                "type": "string",
                                "example": "1b3fda57-0848-406b-8459-0560e6704b57"
                              },
                              "operationType": {
                                "type": "string",
                                "example": "10"
                              },
                              "sysNo": {
                                "type": "string",
                                "example": "E00301"
                              },
                              "sysType": {
                                "type": "string",
                                "example": "联机服务"
                              },
                              "sysServeNo": {
                                "type": "string",
                                "example": "E00301TP0999"
                              },
                              "sysServeNoList": {
                                "nullable": true
                              },
                              "sysServeName": {
                                "type": "string",
                                "example": "查询全球汇划交易列表"
                              },
                              "sysServeEnName": {
                                "type": "string",
                                "example": "PsnGlobalTransferList"
                              },
                              "serveDesc": {
                                "type": "string",
                                "example": "查询全球汇划交易列表"
                              },
                              "serveTyep": {
                                "type": "string",
                                "example": "内部服务"
                              },
                              "targetServeNo": {
                                "type": "string",
                                "example": "E00301TP0999"
                              },
                              "serverVsn": {
                                "type": "string",
                                "example": "v1"
                              },
                              "serverCoding": {
                                "type": "string",
                                "example": "PsnGlobalTransferList"
                              },
                              "serverMode": {
                                "type": "string",
                                "example": ""
                              },
                              "prodBatch": {
                                "type": "string",
                                "example": "2611批次"
                              },
                              "serverNo": {
                                "type": "string",
                                "example": "M-202608-11760 "
                              },
                              "isSend": {
                                "type": "string",
                                "example": ""
                              },
                              "isSendOutsideSystem": {
                                "type": "string",
                                "example": ""
                              },
                              "tag": {
                                "type": "string",
                                "example": ""
                              },
                              "messageInfo": {
                                "type": "string",
                                "example": ""
                              },
                              "topicName": {
                                "type": "string",
                                "example": ""
                              },
                              "communicationRole": {
                                "nullable": true
                              },
                              "isResourceOwner": {
                                "type": "string",
                                "example": ""
                              },
                              "communicationType": {
                                "type": "string",
                                "example": ""
                              },
                              "subscriptionName": {
                                "type": "string",
                                "example": ""
                              },
                              "isBusinessIdempotent": {
                                "nullable": true
                              },
                              "noIdempotentReason": {
                                "nullable": true
                              },
                              "serverState": {
                                "type": "string",
                                "example": "开发基线"
                              },
                              "version": {
                                "type": "string",
                                "example": ""
                              },
                              "approvalNo": {
                                "type": "string",
                                "example": ""
                              },
                              "effectiveTime": {
                                "type": "string",
                                "example": ""
                              },
                              "offlineTime": {
                                "type": "string",
                                "example": ""
                              },
                              "versionBatch": {
                                "type": "string",
                                "example": ""
                              },
                              "versionServerNo": {
                                "type": "string",
                                "example": ""
                              },
                              "isDelete": {
                                "nullable": true
                              },
                              "operationerName": {
                                "type": "string",
                                "example": "郑家琪"
                              },
                              "assemblyNo": {
                                "nullable": true
                              },
                              "assemblyName": {
                                "nullable": true
                              },
                              "reviewNo": {
                                "nullable": true
                              },
                              "principal": {
                                "type": "string",
                                "example": ""
                              },
                              "principalName": {
                                "nullable": true
                              },
                              "implementationUnit": {
                                "type": "string",
                                "example": ""
                              },
                              "deptId": {
                                "type": "string",
                                "example": "1465A"
                              },
                              "deptName": {
                                "type": "string",
                                "example": "中国银行软件中心（西安）开发一部"
                              },
                              "colonyCode": {
                                "type": "string",
                                "example": ""
                              },
                              "versionId": {
                                "nullable": true
                              },
                              "isEditStatus": {
                                "type": "string",
                                "example": "0"
                              },
                              "state": {
                                "type": "string",
                                "example": "开发基线"
                              }
                            },
                            "required": [
                              "searchValue",
                              "createBy",
                              "createTime",
                              "updateBy",
                              "updateTime",
                              "remark",
                              "params",
                              "id",
                              "idList",
                              "publishId",
                              "operationType",
                              "sysNo",
                              "sysType",
                              "sysServeNo",
                              "sysServeNoList",
                              "sysServeName",
                              "sysServeEnName",
                              "serveDesc",
                              "serveTyep",
                              "targetServeNo",
                              "serverVsn",
                              "serverCoding",
                              "serverMode",
                              "prodBatch",
                              "serverNo",
                              "isSend",
                              "isSendOutsideSystem",
                              "tag",
                              "messageInfo",
                              "topicName",
                              "communicationRole",
                              "isResourceOwner",
                              "communicationType",
                              "subscriptionName",
                              "isBusinessIdempotent",
                              "noIdempotentReason",
                              "serverState",
                              "version",
                              "approvalNo",
                              "effectiveTime",
                              "offlineTime",
                              "versionBatch",
                              "versionServerNo",
                              "isDelete",
                              "operationerName",
                              "assemblyNo",
                              "assemblyName",
                              "reviewNo",
                              "principal",
                              "principalName",
                              "implementationUnit",
                              "deptId",
                              "deptName",
                              "colonyCode",
                              "versionId",
                              "isEditStatus",
                              "state"
                            ],
                            "example": {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
                              "updateBy": "1520723",
                              "updateTime": null,
                              "remark": "",
                              "params": {},
                              "id": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                              "idList": null,
                              "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                              "operationType": "10",
                              "sysNo": "E00301",
                              "sysType": "联机服务",
                              "sysServeNo": "E00301TP0999",
                              "sysServeNoList": null,
                              "sysServeName": "查询全球汇划交易列表",
                              "sysServeEnName": "PsnGlobalTransferList",
                              "serveDesc": "查询全球汇划交易列表",
                              "serveTyep": "内部服务",
                              "targetServeNo": "E00301TP0999",
                              "serverVsn": "v1",
                              "serverCoding": "PsnGlobalTransferList",
                              "serverMode": "",
                              "prodBatch": "2611批次",
                              "serverNo": "M-202608-11760 ",
                              "isSend": "",
                              "isSendOutsideSystem": "",
                              "tag": "",
                              "messageInfo": "",
                              "topicName": "",
                              "communicationRole": null,
                              "isResourceOwner": "",
                              "communicationType": "",
                              "subscriptionName": "",
                              "isBusinessIdempotent": null,
                              "noIdempotentReason": null,
                              "serverState": "开发基线",
                              "version": null,
                              "approvalNo": null,
                              "effectiveTime": null
                            }
                          },
                          "example": [
                            {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
                              "updateBy": "1520723",
                              "updateTime": null,
                              "remark": "",
                              "params": {},
                              "id": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                              "idList": null,
                              "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                              "operationType": "10",
                              "sysNo": "E00301",
                              "sysType": "联机服务",
                              "sysServeNo": "E00301TP0999",
                              "sysServeNoList": null,
                              "sysServeName": "查询全球汇划交易列表",
                              "sysServeEnName": "PsnGlobalTransferList",
                              "serveDesc": "查询全球汇划交易列表",
                              "serveTyep": "内部服务",
                              "targetServeNo": "E00301TP0999",
                              "serverVsn": "v1",
                              "serverCoding": "PsnGlobalTransferList",
                              "serverMode": "",
                              "prodBatch": "2611批次",
                              "serverNo": "M-202608-11760 ",
                              "isSend": "",
                              "isSendOutsideSystem": "",
                              "tag": "",
                              "messageInfo": "",
                              "topicName": "",
                              "communicationRole": null,
                              "isResourceOwner": "",
                              "communicationType": "",
                              "subscriptionName": "",
                              "isBusinessIdempotent": null,
                              "noIdempotentReason": null,
                              "serverState": "开发基线",
                              "version": null,
                              "approvalNo": null,
                              "effectiveTime": null
                            },
                            {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 17:25:56",
                              "updateBy": "1520723",
                              "updateTime": "2026-08-31 17:25:09",
                              "remark": "",
                              "params": {},
                              "id": "38be1d24-e91c-4d02-a30a-b84ef7aea44b",
                              "idList": null,
                              "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                              "operationType": "10",
                              "sysNo": "E00301",
                              "sysType": "联机服务",
                              "sysServeNo": "E00301TP0999",
                              "sysServeNoList": null,
                              "sysServeName": "查询全球汇划交易列表",
                              "sysServeEnName": "PsnGlobalTransferList",
                              "serveDesc": "查询全球汇划交易列表",
                              "serveTyep": "内部服务",
                              "targetServeNo": "E00301TP0999",
                              "serverVsn": "v1",
                              "serverCoding": "PsnGlobalTransferList",
                              "serverMode": "",
                              "prodBatch": "2611批次",
                              "serverNo": "M-202608-11760",
                              "isSend": "",
                              "isSendOutsideSystem": "",
                              "tag": "",
                              "messageInfo": "",
                              "topicName": "",
                              "communicationRole": null,
                              "isResourceOwner": "",
                              "communicationType": "",
                              "subscriptionName": "",
                              "isBusinessIdempotent": null,
                              "noIdempotentReason": null,
                              "serverState": "开发基线",
                              "version": "",
                              "approvalNo": "",
                              "effectiveTime": ""
                            }
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "msg": {
                          "type": "string",
                          "example": "查询成功"
                        },
                        "pageNum": {
                          "type": "integer",
                          "example": 1
                        },
                        "pageSize": {
                          "type": "integer",
                          "example": 10
                        },
                        "pageTotals": {
                          "type": "integer",
                          "example": 1
                        }
                      },
                      "required": [
                        "total",
                        "rows",
                        "code",
                        "msg",
                        "pageNum",
                        "pageSize",
                        "pageTotals"
                      ],
                      "example": {
                        "total": 2,
                        "rows": [
                          {
                            "searchValue": null,
                            "createBy": "1520723",
                            "createTime": "2026-08-31 15:53:51",
                            "updateBy": "1520723",
                            "updateTime": null,
                            "remark": "",
                            "params": {},
                            "id": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                            "idList": null,
                            "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                            "operationType": "10",
                            "sysNo": "E00301",
                            "sysType": "联机服务",
                            "sysServeNo": "E00301TP0999",
                            "sysServeNoList": null,
                            "sysServeName": "查询全球汇划交易列表",
                            "sysServeEnName": "PsnGlobalTransferList",
                            "serveDesc": "查询全球汇划交易列表",
                            "serveTyep": "内部服务",
                            "targetServeNo": "E00301TP0999",
                            "serverVsn": "v1",
                            "serverCoding": "PsnGlobalTransferList",
                            "serverMode": "",
                            "prodBatch": "2611批次",
                            "serverNo": "M-202608-11760 ",
                            "isSend": "",
                            "isSendOutsideSystem": "",
                            "tag": "",
                            "messageInfo": "",
                            "topicName": "",
                            "communicationRole": null,
                            "isResourceOwner": "",
                            "communicationType": "",
                            "subscriptionName": "",
                            "isBusinessIdempotent": null,
                            "noIdempotentReason": null,
                            "serverState": "开发基线",
                            "version": null,
                            "approvalNo": null,
                            "effectiveTime": null
                          },
                          {
                            "searchValue": null,
                            "createBy": "1520723",
                            "createTime": "2026-08-31 17:25:56",
                            "updateBy": "1520723",
                            "updateTime": "2026-08-31 17:25:09",
                            "remark": "",
                            "params": {},
                            "id": "38be1d24-e91c-4d02-a30a-b84ef7aea44b",
                            "idList": null,
                            "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                            "operationType": "10",
                            "sysNo": "E00301",
                            "sysType": "联机服务",
                            "sysServeNo": "E00301TP0999",
                            "sysServeNoList": null,
                            "sysServeName": "查询全球汇划交易列表",
                            "sysServeEnName": "PsnGlobalTransferList",
                            "serveDesc": "查询全球汇划交易列表",
                            "serveTyep": "内部服务",
                            "targetServeNo": "E00301TP0999",
                            "serverVsn": "v1",
                            "serverCoding": "PsnGlobalTransferList",
                            "serverMode": "",
                            "prodBatch": "2611批次",
                            "serverNo": "M-202608-11760",
                            "isSend": "",
                            "isSendOutsideSystem": "",
                            "tag": "",
                            "messageInfo": "",
                            "topicName": "",
                            "communicationRole": null,
                            "isResourceOwner": "",
                            "communicationType": "",
                            "subscriptionName": "",
                            "isBusinessIdempotent": null,
                            "noIdempotentReason": null,
                            "serverState": "开发基线",
                            "version": "",
                            "approvalNo": "",
                            "effectiveTime": ""
                          }
                        ],
                        "code": 200,
                        "msg": "查询成功",
                        "pageNum": 1,
                        "pageSize": 10,
                        "pageTotals": 1
                      }
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "example": {
                    "msg": "操作成功",
                    "code": 200,
                    "data": {
                      "total": 2,
                      "rows": [
                        {
                          "searchValue": null,
                          "createBy": "1520723",
                          "createTime": "2026-08-31 15:53:51",
                          "updateBy": "1520723",
                          "updateTime": null,
                          "remark": "",
                          "params": {},
                          "id": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                          "idList": null,
                          "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                          "operationType": "10",
                          "sysNo": "E00301",
                          "sysType": "联机服务",
                          "sysServeNo": "E00301TP0999",
                          "sysServeNoList": null,
                          "sysServeName": "查询全球汇划交易列表",
                          "sysServeEnName": "PsnGlobalTransferList",
                          "serveDesc": "查询全球汇划交易列表",
                          "serveTyep": "内部服务",
                          "targetServeNo": "E00301TP0999",
                          "serverVsn": "v1",
                          "serverCoding": "PsnGlobalTransferList",
                          "serverMode": "",
                          "prodBatch": "2611批次",
                          "serverNo": "M-202608-11760 ",
                          "isSend": "",
                          "isSendOutsideSystem": "",
                          "tag": "",
                          "messageInfo": "",
                          "topicName": "",
                          "communicationRole": null,
                          "isResourceOwner": "",
                          "communicationType": "",
                          "subscriptionName": "",
                          "isBusinessIdempotent": null,
                          "noIdempotentReason": null,
                          "serverState": "开发基线",
                          "version": null,
                          "approvalNo": null,
                          "effectiveTime": null
                        },
                        {
                          "searchValue": null,
                          "createBy": "1520723",
                          "createTime": "2026-08-31 17:25:56",
                          "updateBy": "1520723",
                          "updateTime": "2026-08-31 17:25:09",
                          "remark": "",
                          "params": {},
                          "id": "38be1d24-e91c-4d02-a30a-b84ef7aea44b",
                          "idList": null,
                          "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                          "operationType": "10",
                          "sysNo": "E00301",
                          "sysType": "联机服务",
                          "sysServeNo": "E00301TP0999",
                          "sysServeNoList": null,
                          "sysServeName": "查询全球汇划交易列表",
                          "sysServeEnName": "PsnGlobalTransferList",
                          "serveDesc": "查询全球汇划交易列表",
                          "serveTyep": "内部服务",
                          "targetServeNo": "E00301TP0999",
                          "serverVsn": "v1",
                          "serverCoding": "PsnGlobalTransferList",
                          "serverMode": "",
                          "prodBatch": "2611批次",
                          "serverNo": "M-202608-11760",
                          "isSend": "",
                          "isSendOutsideSystem": "",
                          "tag": "",
                          "messageInfo": "",
                          "topicName": "",
                          "communicationRole": null,
                          "isResourceOwner": "",
                          "communicationType": "",
                          "subscriptionName": "",
                          "isBusinessIdempotent": null,
                          "noIdempotentReason": null,
                          "serverState": "开发基线",
                          "version": "",
                          "approvalNo": "",
                          "effectiveTime": ""
                        }
                      ],
                      "code": 200,
                      "msg": "查询成功",
                      "pageNum": 1,
                      "pageSize": 10,
                      "pageTotals": 1
                    }
                  }
                },
                "example": {
                  "msg": "操作成功",
                  "code": 200,
                  "data": {
                    "total": 2,
                    "rows": [
                      {
                        "searchValue": null,
                        "createBy": "1520723",
                        "createTime": "2026-08-31 15:53:51",
                        "updateBy": "1520723",
                        "updateTime": null,
                        "remark": "",
                        "params": {},
                        "id": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                        "idList": null,
                        "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                        "operationType": "10",
                        "sysNo": "E00301",
                        "sysType": "联机服务",
                        "sysServeNo": "E00301TP0999",
                        "sysServeNoList": null,
                        "sysServeName": "查询全球汇划交易列表",
                        "sysServeEnName": "PsnGlobalTransferList",
                        "serveDesc": "查询全球汇划交易列表",
                        "serveTyep": "内部服务",
                        "targetServeNo": "E00301TP0999",
                        "serverVsn": "v1",
                        "serverCoding": "PsnGlobalTransferList",
                        "serverMode": "",
                        "prodBatch": "2611批次",
                        "serverNo": "M-202608-11760 ",
                        "isSend": "",
                        "isSendOutsideSystem": "",
                        "tag": "",
                        "messageInfo": "",
                        "topicName": "",
                        "communicationRole": null,
                        "isResourceOwner": "",
                        "communicationType": "",
                        "subscriptionName": "",
                        "isBusinessIdempotent": null,
                        "noIdempotentReason": null,
                        "serverState": "开发基线",
                        "version": null,
                        "approvalNo": null,
                        "effectiveTime": null
                      },
                      {
                        "searchValue": null,
                        "createBy": "1520723",
                        "createTime": "2026-08-31 17:25:56",
                        "updateBy": "1520723",
                        "updateTime": "2026-08-31 17:25:09",
                        "remark": "",
                        "params": {},
                        "id": "38be1d24-e91c-4d02-a30a-b84ef7aea44b",
                        "idList": null,
                        "publishId": "1b3fda57-0848-406b-8459-0560e6704b57",
                        "operationType": "10",
                        "sysNo": "E00301",
                        "sysType": "联机服务",
                        "sysServeNo": "E00301TP0999",
                        "sysServeNoList": null,
                        "sysServeName": "查询全球汇划交易列表",
                        "sysServeEnName": "PsnGlobalTransferList",
                        "serveDesc": "查询全球汇划交易列表",
                        "serveTyep": "内部服务",
                        "targetServeNo": "E00301TP0999",
                        "serverVsn": "v1",
                        "serverCoding": "PsnGlobalTransferList",
                        "serverMode": "",
                        "prodBatch": "2611批次",
                        "serverNo": "M-202608-11760",
                        "isSend": "",
                        "isSendOutsideSystem": "",
                        "tag": "",
                        "messageInfo": "",
                        "topicName": "",
                        "communicationRole": null,
                        "isResourceOwner": "",
                        "communicationType": "",
                        "subscriptionName": "",
                        "isBusinessIdempotent": null,
                        "noIdempotentReason": null,
                        "serverState": "开发基线",
                        "version": "",
                        "approvalNo": "",
                        "effectiveTime": ""
                      }
                    ],
                    "code": 200,
                    "msg": "查询成功",
                    "pageNum": 1,
                    "pageSize": 10,
                    "pageTotals": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itamp-tool/publish/getHistoryDetail": {
      "post": {
        "tags": [
          "publish"
        ],
        "summary": "ITAMP 平台发布管理相关接口，具体功能见下方详细说明。",
        "description": "ITAMP 平台发布管理相关接口，具体功能见下方详细说明。\n抓包捕获 1 次，状态码：200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "informationId": {
                    "type": "string",
                    "example": "eac6bf0b-0cba-4beb-b033-3406a40fb09f"
                  },
                  "createTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-08-31 15:53:51"
                  },
                  "publishId": {
                    "type": "string",
                    "example": "1b3fda57-0848-406b-8459-0560e6704b57"
                  }
                },
                "required": [
                  "informationId",
                  "createTime",
                  "publishId"
                ],
                "example": {
                  "informationId": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                  "createTime": "2026-08-31 15:53:51",
                  "publishId": "1b3fda57-0848-406b-8459-0560e6704b57"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ssopSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpSessionId",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "udpToken",
            "in": "header",
            "required": true,
            "description": "（已脱敏）凭证头",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "查询成功"
                    },
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "childReqList": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "searchValue": {
                                "nullable": true
                              },
                              "createBy": {
                                "type": "string",
                                "example": "1520723"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-08-31 15:53:51"
                              },
                              "updateBy": {
                                "nullable": true
                              },
                              "updateTime": {
                                "nullable": true
                              },
                              "remark": {
                                "nullable": true
                              },
                              "params": {
                                "type": "object",
                                "example": {}
                              },
                              "id": {
                                "type": "string",
                                "example": "91122040-d0e9-4315-80fc-254ab8a5b439"
                              },
                              "informationId": {
                                "type": "string",
                                "example": "eac6bf0b-0cba-4beb-b033-3406a40fb09f"
                              },
                              "sysServeNo": {
                                "nullable": true
                              },
                              "parameter": {
                                "type": "string",
                                "example": "schemeFlag"
                              },
                              "parameterName": {
                                "type": "string",
                                "example": "汇款标识"
                              },
                              "dictNo": {
                                "type": "string",
                                "example": ""
                              },
                              "length": {
                                "type": "string",
                                "example": ""
                              },
                              "type": {
                                "type": "string",
                                "example": "String"
                              },
                              "isMust": {
                                "type": "string",
                                "example": "M"
                              },
                              "remark1": {
                                "type": "string",
                                "example": "2-全球汇划"
                              },
                              "remark2": {
                                "type": "string",
                                "example": ""
                              },
                              "remark3": {
                                "type": "string",
                                "example": ""
                              },
                              "messageType": {
                                "type": "string",
                                "example": "1"
                              },
                              "sort": {
                                "type": "integer",
                                "example": 0
                              }
                            },
                            "required": [
                              "searchValue",
                              "createBy",
                              "createTime",
                              "updateBy",
                              "updateTime",
                              "remark",
                              "params",
                              "id",
                              "informationId",
                              "sysServeNo",
                              "parameter",
                              "parameterName",
                              "dictNo",
                              "length",
                              "type",
                              "isMust",
                              "remark1",
                              "remark2",
                              "remark3",
                              "messageType",
                              "sort"
                            ],
                            "example": {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
                              "updateBy": null,
                              "updateTime": null,
                              "remark": null,
                              "params": {},
                              "id": "91122040-d0e9-4315-80fc-254ab8a5b439",
                              "informationId": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                              "sysServeNo": null,
                              "parameter": "schemeFlag",
                              "parameterName": "汇款标识",
                              "dictNo": "",
                              "length": "",
                              "type": "String",
                              "isMust": "M",
                              "remark1": "2-全球汇划",
                              "remark2": "",
                              "remark3": "",
                              "messageType": "1",
                              "sort": 0
                            }
                          },
                          "example": [
                            {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
                              "updateBy": null,
                              "updateTime": null,
                              "remark": null,
                              "params": {},
                              "id": "91122040-d0e9-4315-80fc-254ab8a5b439",
                              "informationId": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                              "sysServeNo": null,
                              "parameter": "schemeFlag",
                              "parameterName": "汇款标识",
                              "dictNo": "",
                              "length": "",
                              "type": "String",
                              "isMust": "M",
                              "remark1": "2-全球汇划",
                              "remark2": "",
                              "remark3": "",
                              "messageType": "1",
                              "sort": 0
                            },
                            {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
                              "updateBy": null,
                              "updateTime": null,
                              "remark": null,
                              "params": {},
                              "id": "9635b62c-9385-45de-a2c7-6d1f6a9bb3de",
                              "informationId": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                              "sysServeNo": null,
                              "parameter": "startDate",
                              "parameterName": "开始时间",
                              "dictNo": "",
                              "length": "",
                              "type": "String",
                              "isMust": "M",
                              "remark1": "格式:yyyy/mm/dd",
                              "remark2": "最大时间跨度为1年",
                              "remark3": "",
                              "messageType": "1",
                              "sort": 1
                            },
                            "…（共 6 项）"
                          ]
                        },
                        "childRespList": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "searchValue": {
                                "nullable": true
                              },
                              "createBy": {
                                "type": "string",
                                "example": "1520723"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-08-31 15:53:51"
                              },
                              "updateBy": {
                                "nullable": true
                              },
                              "updateTime": {
                                "nullable": true
                              },
                              "remark": {
                                "nullable": true
                              },
                              "params": {
                                "type": "object",
                                "example": {}
                              },
                              "id": {
                                "type": "string",
                                "example": "3135f48a-061b-4313-9422-25aea6f198c0"
                              },
                              "informationId": {
                                "type": "string",
                                "example": "eac6bf0b-0cba-4beb-b033-3406a40fb09f"
                              },
                              "sysServeNo": {
                                "nullable": true
                              },
                              "parameter": {
                                "type": "string",
                                "example": "recordnumber"
                              },
                              "parameterName": {
                                "type": "string",
                                "example": "记录总数"
                              },
                              "dictNo": {
                                "type": "string",
                                "example": ""
                              },
                              "length": {
                                "type": "string",
                                "example": ""
                              },
                              "type": {
                                "type": "string",
                                "example": "String"
                              },
                              "isMust": {
                                "type": "string",
                                "example": ""
                              },
                              "remark1": {
                                "type": "string",
                                "example": ""
                              },
                              "remark2": {
                                "type": "string",
                                "example": ""
                              },
                              "remark3": {
                                "type": "string",
                                "example": ""
                              },
                              "messageType": {
                                "type": "string",
                                "example": "2"
                              },
                              "sort": {
                                "type": "integer",
                                "example": 0
                              }
                            },
                            "required": [
                              "searchValue",
                              "createBy",
                              "createTime",
                              "updateBy",
                              "updateTime",
                              "remark",
                              "params",
                              "id",
                              "informationId",
                              "sysServeNo",
                              "parameter",
                              "parameterName",
                              "dictNo",
                              "length",
                              "type",
                              "isMust",
                              "remark1",
                              "remark2",
                              "remark3",
                              "messageType",
                              "sort"
                            ],
                            "example": {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
                              "updateBy": null,
                              "updateTime": null,
                              "remark": null,
                              "params": {},
                              "id": "3135f48a-061b-4313-9422-25aea6f198c0",
                              "informationId": "eac6bf0b-0cba-4beb-b033-3406a40fb09f",
                              "sysServeNo": null,
                              "parameter": "recordnumber",
                              "parameterName": "记录总数",
                              "dictNo": "",
                              "length": "",
                              "type": "String",
                              "isMust": "",
                              "remark1": "",
                              "remark2": "",
                              "remark3": "",
                              "messageType": "2",
                              "sort": 0
                            }
                          },
                          "example": [
                            {
                              "searchValue": null,
                              "createBy": "1520723",
                              "createTime": "2026-08-31 15:53:51",
[...]
